<script> jQuery(function () {
    $("#CheckedAll").click(function () {
        if
        ($(this).is(":checked")) {
            $("[name=dailinfoHandledCheckBox]:checkbox").prop("checked", true);
        } else {
            $("[name=dailinfoHandledCheckBox]:checkbox").prop("checked", false);
        }
    });
})

</script>


    <table width="98%" border="0" style="color:#626262;font-size:12px;">
        <tr style="color:#626262;font-size:14px;height:5px;">  
        </tr>
        #if($commonPage&&$commonPage.pageData)
            #foreach($dailinfoHandled in $commonPage.pageData)
                <tr  >
                    #if($shiro.hasRole("1"))
                        <td><input type="checkbox" name="dailinfoHandledCheckBox" value="$!dailinfoHandled.ID"/></td>
                        <td >$!{dailinfoHandled.AdslAccount}</td>
                    <td style="width:12%;">$!{dailinfoHandled.Passwd}</td>
                    <td style="width:20%;">$!{dailinfoHandled.DailTime}</td>
                    <td style="width:14%;">$!{dailinfoHandled.DailIp}</td>
                    <td style="width:15%;">$!{dailinfoHandled.DailType}</td>
                    <td style="width:15%;">$!{dailinfoHandled.DailMac}</td>
                    #else
                    <td style="width:15%;">$!{dailinfoHandled.AdslAccount}</td>
                    <td style="width:17%;">$!{dailinfoHandled.Passwd}</td>
                    <td style="width:20%;">$!{dailinfoHandled.DailTime}</td>
                    <td style="width:14%;">$!{dailinfoHandled.DailIp}</td>
                    <td style="width:15%;">$!{dailinfoHandled.DailType}</td>
                    <td style="width:15%;">$!{dailinfoHandled.DailMac}</td>
                    #end
                </tr>
            #end
        #end
    </table>
    #pagebar($commonPage "${link.contextPath}/dailinfoHandled/dailinfoHandledListData.html" "dailinfoHandledListDiv")
